<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewinddc.module_a" >
    <application>
        <service android:name=".AService">
            <intent-filter>
                <action android:name="com.ewinddc.mudule_a.aservice"/>
            </intent-filter>
        </service>
    </application>
</manifest>
